h1, h2 {
  text-align: center;
  font-family: sans-serif;
}

.headshot {
  width: inherit;
  align-items: center;
  margin: 10px;
  border: 2px solid gray;
}

.column {
  width: 300px;
  text-align: center;
  font-family: sans-serif;
  background-color: gray;
  padding: 10px;
  border: 2px solid gray;
}

div img {
  width: 300px;
}

@media screen and (max-width: 480px) and (min-width: 300px) {
  body {
    background-color: white;
    color: white;
  }
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
  body {
    background-color: white;
    color: black;
  }
}
