h1, h2 {
  text-align: center;
  font-family: sans-serif;
  font-family: 'Lato', sans-serif;
}

h3 {
  font-size: 35px;
}

.jumbotron {
  margin-bottom: 0px;
  padding-bottom:0px;
}

.bg-warning {
  text-align: center;
  font-size: 35px;
  margin-top: 10px;
  padding-top: 10px;
}

.bg-info {
  text-align: center;
  font-size: 35px;
  margin-top: 10px;
  padding-top: 10px;
}

.col-md-4 {
  font-size: 20px;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.headshot {
  width: 100%;
  align-items: center;
  margin: 10px;
  border: 2px solid gray;
}

.display {
  width: 300px;
  height: 200px;
}

.About {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

.interests {
  float: left;
  text-align: left;
  font-size: 20px;
  margin: 2px;
  font-family: 'Lato', sans-serif;
}

.why {
  text-align: center;
  font-size: 20px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  font-family: 'Lato', sans-serif;
}
